/* SITE COLORS;-
PRUSSIAN BLUE - #0E2F5A
CAROLINA BLUE - #45AAE0
MIDNIGHT GREEN EAGLE GREEN - #075760
PEWTER BLUE - #89A5AF
CULTURED - #F4F4F4
WHITE - #FFFFFF

*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Noto Sans", "Baloo Da 2";
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.6rem;
}

main {
  margin: 0 auto;
  width: 90%;
  height: auto;
}

div#logo {
  background-color: #0e2f5a;
  text-align: center;
}

img#logo {
  display: inline-block;
  width: 100px;
  height: 50px;
}

div#banner {
  background-image: url(img/img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

div#heading {
  background-color: rgba(14, 47, 90, 0.7);
  padding: 100px;
  text-align: center;
}

div#heading h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#heading p {
  max-width: 700px;
  margin: auto;
}

button {
  background-color: rgba(221, 221, 221, 0);
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}

section#body{
  background-color: #F4F4F4;
  padding: 15px;
}

section#body h2 {
  color: #356d97;
}

div#about {
  text-align: center;
  padding: 15px;
}

div#about p{
  max-width: 800px;
  margin: auto;
  margin-top: 5px;
}

div#process{
  padding: 25px;
  margin: auto;
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(img/img2.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 300px 200px;
}

div#process ul li{
  list-style-type: circle;
}

div#process h2{
  margin-left: -19px;
}