/* SITE COLORS;-
CAMBRIDGE BLUE - #BCD8C1
PALE SPRING BUD - #D6DBB2
FLAX - #E3D985
MANDARIN - #E57A44
DARK PURPLE - #422040
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', 'Baloo Da 2';
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.6rem;
}

nav{
    background-color: #113f7a;
    position: relative;
}

img#logo{
   width: 100px;
   height: 50px;
   position: absolute;
   top: 100px;
}